@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    /* Colores Personalizados */
    --color-primary: #13ec13;
    --color-agro-dark: #1B4332;
    --color-agro-gold: #D4A373;
    --color-agro-accent: #BC6C25;
    --color-background-light: #F8F9FA;
    --color-background-dark: #102210;

    /* Tipografías */
    --font-display: "Work Sans", sans-serif;
    --font-sans: "Work Sans", ui-sans-serif, system-ui;

    /* Radios de borde */
    --radius-default: 0.25rem;
    --radius-lg: 0.5rem;
    --radius-xl: 0.75rem;
}